/*styles´recipes*/

.main {
    background-color:rgb(165, 112, 42);
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-style: italic;
    font-weight: 800;
    font-size: 1.5rem;
}

.ingred,
.direct {
    color: brown;

}